tr#1  > td:nth-child(2) > button{
    margin-left: -2%;
}

td.test, td.unit  {
    margin-right: -2%;
    width: 16%;
}
td.test .lecture-name{
    font-size: 15px !important;
}
td.test .lecture-info{
    font-size: 12px !important;
}
td.test button{
    position: relative;
    margin-left: -5% !important;
    margin-right: 5%;

}
td.test button > span.MuiIconButton-label{
    color:rgba($color: #581845, $alpha: 1.0);
}

#mylecture-list{
    margin-top: 5% !important;
    // width: 90% !important;
    width: 100%;

    padding: 0 auto;

    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;;
}
#mylecture-list #timetable{
    width: 80%;
}