.logo {
    position: relative;
    top : 10px;
    left: 10px;
    width: 12%
}
.body {
    // margin: 0 auto; // 중앙 배치
    margin-top: 10%;
    background-color: green($color: #000000);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 45vh;
}
.tab-content{
    width: 80%;
    height: 100%;
    
}
table{
    font-size: large;
}
.nav-link{
    margin-bottom: 1%;
    font-size: large;
}
.whole-table {
    width: 100%;
}
.head{
    color: black;
    font-size: 5rem;
    margin-bottom: 3%;
}

.crawl{
    margin-bottom: 10%;
}