.tabs, .tab-content {
    width:  100%;
    color: black !important;
}

.crawlingbtn{
    height: 45px;
    margin-top: 16px !important;
    margin-bottom: 8px !important;
}

.MuiOutlinedInput-input{
    height: 0 !important;
    padding: 22.5px 14px !important;

}
.MuiFormControl-marginNormal{
    margin-right: 2% !important;

}

.head {
    float: left;
}

.Crwaler {
    width: 80%;
    // float: right;
    margin-bottom: 1%;
}

form{
    padding : 0 auto !important;
    width: 45%;
    float: right;
    // margin: 0 auto;
}

th {
    background-color: #f0ede9 !important;
}

.table4{
    width: 50%;
    float: left !important;
}

.nav-pills .active{
    background-color: #4385bf !important;
}