.tabs, .tab-content {
    width:  100%;
    color: black !important;
}

.crawlingbtn{
    height: 39px;
    margin-top: 16px !important;
    margin-bottom: 8px !important;
}

input, .input{
    margin-right: 3% !important;
    height: 2px !important;
}

.head {
    float: left;
}

.Crwaler {
    width: 90%;
}

form{
    width: 40%;
    float: right;
    // margin: 0 auto;
}