.Navigation {
    font-size: large;
}
.title{
    font-size: large !important;
    font-weight: 700;
    padding-top: 0.7%;
}
.nav-link {
    margin-right: 1%;;
    // width: 100%;
}
.mr-auto {
    // margin-right: 0% !important;
}
#responsive-navbar-nav > div.mr-auto.navbar-nav{
    width: 50%;
}
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);

html .Route, .Navigation{
    font-family: 'Nanum Gothic Coding', serif !important;
}