
td{
    font-size: 12px !important;
}

th{
    padding-bottom: 20px !important;
    font-size: 12px !important;
    word-break: keep-all;
}
.coursetbl > a {
    font-size: x-large;
    padding: 10px;
}

.spinner-grow {
    position: absolute;
    left:50%;
    top:50%;
    font-size: xx-large;
}
.spinner {
    position: absolute;
    left:44%;
    top:40%;
    font-size: x-large;
}

.react-bootstrap-table-page-btns-ul{
float:right !important;
margin-right: 1%;

margin-top: 0;
font-size: medium !important;
}

.page-link{
    font-size: medium !important;
}
span.dropdown
{
    margin: 5%;
}
