
td{
    font-size: 12px !important;
}

th{
    padding: 0 auto;
}
a {
    font-size: x-large;
    padding: 10px;
}

.spinner-grow {
    position: absolute;
    left:50%;
    top:50%;
    font-size: xx-large;
}
.spinner {
    position: absolute;
    left:44%;
    top:40%;
    font-size: x-large;
}