.Title{
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-top: 10px;
}
.titleWord {
    font-size: 30pt !important;
    line-height: 23pt;
    text-align: center;
    font-weight: bold;
}